  <%- include("partials/header") %>

  <main class="container py-5">
    <h1><center>About</center></h1>
    <p><center>Created with love by a chaotic programmer.</center></p>
  </main>

  <%- include("partials/footer") %>

