 <%- include('partials/header') %>
    <div class="row">
      <div class="col-lg-8">
        <div class="card blog-card mb-4">
          <div class="card-body">
            <h4 class="card-title mb-2">Welcome to a Blogs</h4>
            <div class="text-muted mb-2 small">Nov 16, 2025 &bull; Author</div>
            <p class="card-text">Your ideas here. Everything is uncluttered and easy to read!</p>
            <a href="/posts" class="btn btn-outline-primary btn-sm">create now!!!</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card sidebar-card p-3 shadow-sm">
          <h6>Elsewhere</h6>
          <a href="#" class="me-2">GitHub</a>
          <a href="#" class="me-2">Twitter</a>
        </div>
      </div>
    </div>
  <%- include('partials/footer') %>



